<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
        <link rel="spreading" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!--Local For Now-->
        <link rel="stylesheet" href="../assets/styles.css">
        <link rel="icon" href="../assets/favicon.png">
    </head>
    <body>
        <nav>
            <a href="https://apply.agentgaming.gg/"><img src="../assets/logo.svg"></a>
            <a class="link" href="https://agentgaming.gg/">Home</a>
            <a class="link" href="https://apply.agentgaming.gg/">Apply</a>
            <a class="box-link" href="https://agentgaming.gg/" style="float: right;">Return to Home</a>
        </nav>
        <div id="defaultContent">
            {{ content }}
        </div>
        <footer>
            <div class="column">
                <h1>Quick Links</h1>
                <a href="https://agentgaming.gg/">Home</a><br>
                <a href="https://agentgaming.gg/collections/all">Shop All</a><br>
                <a href="https://agentgaming.gg/collections/all">Collections</a><br>
                <a href="https://agentgaming.gg/pages/our-teams">Our Teams</a><br>
                <a href="https://agentgaming.gg/pages/about-us">About Us</a><br>
                <a href="https://agentgaming.gg/pages/partners">Partners</a>
            </div>
            <div class="column">
                <h1>About</h1>
                <p>Agent Gaming is a Professional Esports Organization and a subsidiary of WALRAD USA LLC. Agent Gaming was founded in 2014 with a focus on player talent development, and with this, has generated substantial earnings from tournament wins and an extremely loyal and growing community. As a company, our primary goal is to build a top tier gaming and content creation organization with an apparel brand that inspires our followers through creativity and innovation!</p>
            </div>
        </footer>
    </body>
</html>